h3
{
  font-size: 25px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
  font-weight: bold;
}
.container
{
  margin-top: 50px;
}
.btn{
  background-color: rgb(103, 15, 94);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width:20%;
}
.btn:hover
{
  background-color: rgb(120, 8, 71);
  transition: ease-in-out 0.1s;
  color: white;
}
canvas
{
animation-name: example;
animation-duration: 4s;
animation-iteration-count: infinite;
margin-top: 30px;
transition: ease-in-out 0.3s;
}
@keyframes example
{
from {box-shadow: 1px 1px 38px rgb(94, 8, 83);}
to {box-shadow: 1px 1px 38px rgb(36, 255, 204);}
}

body{
  background-size: cover;
  /* background-blend-mode: darken; */
  /* backdrop-filter: grayscale(50%); */
}